@CHARSET "ISO-8859-1";
a {
	color: white;
	text-decoration: none;
}
body {
	color: white;
	font-size: 14px;
	height: 100%;
	line-height: 20px;
	margin: 0px;
	width: 100%;
	font-family: helvetica,arial,sans-serif;
}
.bottom {
	margin-left: -200px;
	bottom: 0px;
	position: absolute;
	width: 400px;
	height: 80px;
	padding-top: 20px;
	padding-bottom: 20px;left:  50%;
}
.bottom span {
	float: left;
	display: inline-block;
	position: relative;
	width: 50%;
	font-size: 23px;
	font-weight: bold;
}
.bottom a {
	display: block;
	position: relative;
	text-align: center;
}
.content {
	padding-top: 40px;
	float: left;
	font-size: 72px;
	font-weight: bold;
	line-height: 80px;
	width: 620px
}
.content a {
	border-bottom: 4px solid white;
}
.corner {
	float: left;
	width: 140px;
	min-height: 1px;
	margin-left: 20px;
	height: 67px;
}
.done {
	border-right: thin solid white;
	box-sizing: border-box;
	float: left;
	font-size: 23px;
	font-weight: bold;
	height: 40px;
	position: relative;
	width: 200px;
}
.main {
	position: relative;
	min-height: 100%;
	overflow: hidden;
	margin: 0 auto;
	width: 940px;
}
.more {
	border-left: thin solid white;
	box-sizing: border-box;
	float: left;
	font-size: 23px;
	font-weight: bold;
	height: 40px;
	position: relative;
	width: 200px;
}
.title {
	height: 60px;
	float: left;
	width: 780px;
}
.title h2 {
	text-rendering: optimizelegibility;
	line-height: 40px;
	margin-bottom: 10px;
	margin-top: 10px;
	height: 40px;
	font-size: 
	30px
}
.top{
	height: 67px;
	width: 960px;
}
.submit{
	font-weight: bold;
	display: block;
	line-height: 15px;
	padding-top: 17px;
	width: 65px;
	text-align: right;
}
.share {
	background-size: 32px 32px;
	padding: 32px;
	left: 80px;
	top: -2px;
}